
*{
    margin: 0;
    padding: 0;
    font-family:"Times New Roman", Times, serif;
  }
.main-header
{
  background-color: black;
  text-decoration-color: white;
  color: white;
  text-align: center;
  height: 70px;
 }

#psswd {
  border-color: #c3cfd2!important;
}
hr.pass{
  border-radius: 4px;
   border: 5px solid grey;
   width: 90%;
   margin-left: +10px;
}
.password-status li{
  font-style: normal;
  font-size: 15px;
  width: 30%;
  line-height: 20px;

}

.password-status ul{
  list-style-type: none;
  display: flex;
 flex-flow:row wrap;
}
form input {
  border: 2px solid #bac7d0;
  font-size: 12px!important;
  padding: 15px 15px!important;
  margin-bottom: 6.5px;
  margin-top: 6.5px;
  border-color: #c3cfd2!important;
  width: 100%;
 }

.footer {

height:25%x;
background-color: lightblue;
color: white;
text-align: center;
color: black;
padding: 25px 0px 10px 0px;
}

.section-top {
  background: #f1f1f1;
  height:50%;
  width: 100%;
  color: #313945;
  padding-bottom: 50px;
  text-align: center;
  margin: none;
  padding-top: +25px;

}

#h3-font
{
  font-style: italic;
  font-family: serif;
  padding-top: +30px;
  margin-left: 20%;
  max-width: 750px;


}
#h1-font{
  font-size: +75px;
  font-style: bold;

}

.fa fa-check{

}

#b1
{
  background-color: darkblue;
  color: white;
  width: 170px;
  height: 40px;
  font-size: 15px;
  margin: 10px 0px;
  text-align:center;
  border-radius: 8px;
  margin-right: +280px;

}

#b2
{
  background-color: yellow;
  color: black;
  width: 350px;
  height: 45px;
  font-size: 15px;
}

.container{

}
#b3
{
  background-color:black;
  color: white;
  width: 350px;
  height: 45px;
  font-size: 15px;
}

#b4{
  background-color: #bac0c1;
  color: darkblue;
  font-size: 20px
  width: 400px;
  height: 35px;
  border: 1px solid darkblue;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.section-left {
  float: left;
  color: black;
  height: auto;
  margin-left:10%;
}

.section-right
{
  float: right;
  background-color: white;
  width:45%;
  height: auto;
  padding: 30px;
  margin-right: 20px;
  box-shadow:3px 3px 3px 3px #5f80a2;
  text-align: center;
}

.section-middle {
margin-top: -2.5%;
}

.policy-section {
  padding: 15px;
}

@media (max-width: 768px) {
  .section-left,
  .section-right {
    width: 100%;
    float: none;
  }
}
