* {
  margin: 0;
  padding: 0;
  font-family:"Times New Roman", Times, serif;
}
.main-content {
  padding-bottom: 50px;
}
.main-header {
  background-color: black;
  text-decoration-color: white;
  color: white;
  text-align: center;
  padding-top: 28px;
}
.main-header p {
  font-size: 20px;
}
#psswd {
  border-color: #c3cfd2!important;
}
hr.pass{
  border-radius: 4px;
   border: 5px solid grey;
   width: 90%;
   margin-left: +10px;
}
.password-status{
  margin-left: +10px;
 width: 100%;
}

.password-status li{
  font-style: normal;
  font-size: 13px;
  width: 30%;
  line-height: 11px;
  padding: 0px 0px;
}

.password-status ul{
  list-style-type: none;
  display: flex;
 flex-flow:row wrap;
   font-weight: 100;
   text-align: left;
   width: 100%;
}


.forminput {
  border: 2px solid #bac7d0;
  font-size: 12px!important;
  padding: 15px 15px!important;
  margin-bottom: 6.5px;
  margin-top: 6.5px;
  border-color: #c3cfd2!important;
  width: 100%;
 }

.chkbox{
  width: 100%;
  font-weight: 100;
  text-align: left;

}

.chkbox li{
  padding: 7px 0px;
}

.fa-check{
  color: #5ecd9f;
  padding-right: +8px;
}
.footer {
height:25%x;
background-color: #eef2f3;
color: white;
text-align: center;
color: black;
padding: 25px 0px 10px 0px;
}

.section-top {
  background: #f1f1f1;
  height:50%;
  width: 100%;
  color: #313945;
  padding-bottom: 50px;
  text-align: center;
  margin: none;
  padding-top: +25px;

}

#h3-font
{
  font-style: italic;
  font-family: serif;
  padding-top: +30px;
  margin-left: 20%;
  max-width: 750px;


}
#h1-font{
  font-size: +75px;
  font-style: bold;

}
#b1
{
  background-color: darkblue;
  color: white;
  width: 170px;
  height: 40px;
  font-size: 15px;
  margin: 10px 0px;
  text-align:center;
  border-radius: 8px;
  margin-right: +280px;

}

.b2{
  background-color: yellow;
  color: black;
  width: 100%;
  height: 55px;
  font-size: 15px;
  margin-bottom: +5px;
  font-weight: bolder;
}

.b2:hover{
  background-color: black;
  color: white;
}
.fa-google{
margin-right: +10px; 
}
.container{

}
.b3{
  font-weight: bolder;
  background-color:white;
  color: black;
  width: 100%;
  height: 55px;
  font-size: 15px;
  margin-top: -5px;
  border: 4px solid black;
}
.b3:hover{
background-color: lightblue;
}
#b4{
  background-color: #eef2f3;
  color: darkblue;
  font-size: 20px
  width: 400px;
  height: 35px;
  border: 1px solid darkblue;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
    border-radius: 4px;
}

.section-left {
  float: left;
  color: black;
  height: auto;
  margin-left:15px;
}

.section-right
{
  float: right;
  background-color: white;
  width:50%;
  height: auto;
  padding: 30px;
  margin-right: 20px;
  box-shadow:3px 3px 3px 3px #5f80a2;
  text-align: center;
}

.section-middle {
margin-top: -2.5%;
}

.policy-section {
  margin-top: 10px;
  align-items: left;
}

@media (max-width: 768px) {
  .section-left,
  .section-right {
    width: 100%;
    float: none;
  }
}
